<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Contact Form</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Contact Form</strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Contact Form</h3>
    <div class="ibox-tools">
    </div>
  </div>
  <div class="ibox-content">
    <%= simple_form_for(@contact_form) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :body, label: "Message" %>
      <%= f.input :email %>
      <%= f.input :name, label: "Your name" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send", class: "btn btn-primary" %>
    </div>
    <% end %>

  </div>
</div>
