<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Definition</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Definition</strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Definition</h3>
    <div class="ibox-tools">
    </div>
  </div>
  <div class="ibox-content">
    <table class="table table-striped">
      <tr>
        <th>Name [EN]</th>
        <td><%= @concept.name_en %></td>
      </tr>
      <tr>
        <th>Definition [EN]</th>
        <td><%= @concept.body_en.html_safe if @concept.body_en.present? %></td>
      </tr>
      <tr>
        <th>Name [PL]</th>
        <td><%= @concept.name %></td>
      </tr>
      <tr>
        <th>Definition [PL]</th>
        <td><%= @concept.body.html_safe if @concept.body.present? %></td>
      </tr>
    </table>
  </div>
</div>

<%= link_to "Back", root_path, class: "btn btn-primary" %>
