<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Strona Główna</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <strong>Strona Główna</strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Podsumowanie</h3>
    <div class="ibox-tools">

    </div>
  </div>
  <div class="ibox-content">
    <table class="table table-striped">
      <tr>
        <td><%= link_to "Ilość definicji w systemie", concepts_path, style: "color:black" %></td>
        <td><%= link_to @concepts, concepts_path, style: "color:black" %></td>
      </tr>
      <tr>
        <td><%= link_to "Ilość tagów w systemie", tags_path, style: "color:black" %></td>
        <td><%= link_to @tags, tags_path, style: "color:black" %></td>
      </tr>
      <tr>
        <td><%= link_to "Ilość użytkowników w systemie", users_path, style: "color:black" %></td>
        <td><%= link_to @users, users_path, style: "color:black" %></td>
      </tr>
    </table>
  </div>
</div>
