<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Home</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <strong>Home</strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Definitions</h3>
    <div class="ibox-tools">
    </div>
  </div>
  <div class="ibox-content">
    <table class="table table-striped">
      <tr>
        <th>Name [EN]</th>
        <th>Name [PL]</th>
        <th>Authors</th>
      </tr>
      <% @concepts.each do |concept| %>
        <tr>
          <td><%= link_to concept.name_en, def_path(id: concept.id) %></td>
          <td><%= link_to concept.name, def_path(id: concept.id) %></td>
          <td><%= link_to concept.authors, def_path(id: concept.id) %></td>
        </tr>
      <% end %>
    </table>
    <% paginate @concepts %>
  </div>
</div>

<%= content_for :searchbar do %>
  <%= search_form_for @q, url: root_path, class: "navbar-form-custom" do |f| %>
    <div class="form-group">
        <%= f.search_field :name_or_name_en_or_body_or_body_en_or_authors_cont, placeholder: "Search", id: "top-search", class: "form-control" %>
    </div>
  <% end %>
<% end %>
