<div class="ibox">
  <div class="ibox-title">
    <h3>Formularz</h3>
    <div class="ibox-tools">
      <%= link_to concepts_path, class: "btn btn-sm btn-primary" do %>
        Anuluj
      <% end %>
    </div>
  </div>
  <div class="ibox-content">
    <%= simple_form_for @concept do |f| %>
    <%= f.association :tags, label: "Tagi", input_html: { class: "select2" }, hint: "Rozdzielaj spacjami" %>
    <%= f.input :authors, label: "Autorzy" %>
    <%= f.input :name, label: "Nazwa [PL]" %>
    <%= f.input :name_en, label: "Nazwa [ENG]" %>
    <%= f.input :body, as: :text, label: "Treść [PL]", input_html: { class: "tinymce", rows: 20, cols: 20 } %>
    <%= f.input :body_en, as: :text, label: "Treść [ENG]", input_html: { class: "tinymce", rows: 20, cols: 20 } %>
    <hr>
    <%= f.button :submit, "Zapisz", class: "btn btn-sm btn-primary" %>
    <%= link_to "Anuluj", concepts_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</div>



<%= tinymce :language => "pl" %>
